<!DOCTYPE html>
<html ng-app="blog">
<head>
  <title>My application</title>
  <link rel="stylesheet" media="all" href="css/bootstrap.min.css">
  <link rel="stylesheet" media="all" href="css/custom.css">
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="">AWJ Base Project</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="#">Masina</a></li>
            <li><a href="#Medicamente">Medicamente</a></li>
			<li><a href="#Copil">Copil</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <hr/>

  <div class="container">
    <div>
      <h1>{{ helloWorld }}</h1>
      <p>Writing this live into the browser...</p>
    </div>
  </div>

  <hr/>

  <!-- /resources1 -->
  <div class="container" ng-controller="HomeController">
    <h1>Masina</h1>
    <h2>List all resources</h2>
    <table class="table table-bordered">
	    <tr>
            <th ng-repeat="field in fields">{{field | uppercase}}</th>
            <th style="width:210px;">OPTIONS</th>
        </tr>
		
		<tr ng-repeat="masina in masini" data-id="{{masina.id}}">
            <td>{{ masina.name }}</td>
            <td>{{ masina.id }}</td>
            <td>
                <a href="">
				
            <span class="label label-success">
              Open
              <span class="glyphicon glyphicon-folder-open"></span>
            </span>
          </a>
          <a href="">
            <button ng-click="setUpdateCar(masina)" class="btn btn-info btn-xs">
              Edit
              <span class="glyphicon glyphicon-edit"></span>
            </button>
          </a>
          <a href="">
            <button ng-click="deleteMasina(masina.id)" class="btn btn-danger btn-xs">
              Remove
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </a>
        </td>
      </tr>
	  </table>

    <div class="row">
      <div class="col-md-3">
        <h2>Editeaza masina</h2>
		 
        <form>
                <div class="form-group">
                    <label for="attribute1">ID</label>
                    <input type="text" class="form-control" id="attribute1" placeholder="ID" ng-model="editCar.id">
                </div>
                <div class="form-group">
                    <label for="attribute2">NUME</label>
                    <input type="text" class="form-control" id="attribute2" placeholder="NUME" ng-model="editCar.name">
                </div>
                <button type="submit" class="btn btn-info" ng-click="updateCar()">Save</button>
            </form>
        </div>


      <div class="col-md-3 col-md-offset-6">
        <h2>Adauga masina</h2>
        <form>
                <div class="form-group">
                    <label for="attribute1">ID</label>
                    <input type="text" class="form-control" id="attribute1" placeholder="ID" ng-model="masina.id">
                </div>
                <div class="form-group">
                    <label for="attribute2">NUME</label>
                    <input type="text" class="form-control" id="attribute2" placeholder="NUME" ng-model="masina.name">
                </div>

                <button ng-click="addMasina(masina)" class="btn btn-success">Add</button>
            </form>
        </div>
	</div>

</div>

<hr/>

  <!-- /resources2-->
  <div class="container" ng-controller="HomController">
    <h1>Medicament</h1>
    <h2>List all resources</h2>
    <table class="table table-bordered">
	    <tr>
            <th ng-repeat="field in fields">{{field | uppercase}}</th>
            <th style="width:210px;">OPTIONS</th>
        </tr>
		
		<tr ng-repeat="medicament in medicamente" data-id="{{medicament.id}}">
            <td>{{ medicament.name }}</td>
            <td>{{ medicament.id }}</td>
			<td>{{medicament.DATA.EXP}}</td>
            <td>
                <a href="">
				
            <span class="label label-success">
              Open
              <span class="glyphicon glyphicon-folder-open"></span>
            </span>
          </a>
          <a href="">
            <button ng-click="setUpdateMedic(medicament)" class="btn btn-info btn-xs">
              Edit
              <span class="glyphicon glyphicon-edit"></span>
            </button>
          </a>
          <a href="">
            <button ng-click="deleteMedicament(medicament.id)" class="btn btn-danger btn-xs">
              Remove
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </a>
        </td>
      </tr>
	  </table>

    <div class="row">
      <div class="col-md-3">
        <h2>Editeaza medicament</h2>
		 
        <form>
                <div class="form-group">
                    <label for="attribute1">ID</label>
                    <input type="text" class="form-control" id="attribute1" placeholder="ID" ng-model="editMedic.id">
                </div>
                <div class="form-group">
                    <label for="attribute2">NUME</label>
                    <input type="text" class="form-control" id="attribute2" placeholder="NUME" ng-model="editMedic.name">
                </div>
                <button type="submit" class="btn btn-info" ng-click="updateMedic()">Save</button>
            </form>
        </div>


      <div class="col-md-3 col-md-offset-6">
        <h2>Adauga medicament</h2>
        <form>
                <div class="form-group">
                    <label for="attribute1">ID</label>
                    <input type="text" class="form-control" id="attribute1" placeholder="ID" ng-model="medicament.id">
                </div>
                <div class="form-group">
                    <label for="attribute2">NUME</label>
                    <input type="text" class="form-control" id="attribute2" placeholder="NUME" ng-model="medicament.name">
                </div>

                <button ng-click="addMedicament(medicament)" class="btn btn-success">Add</button>
            </form>
        </div>
	</div>

</div>

<hr/>
  
  
  <!-- /resources3-->
 <div class="container" ng-controller="HoController">
    <h1>Copil</h1>
    <h2>List all resources</h2>
    <table class="table table-bordered">
	    <tr>
            <th ng-repeat="field in fields">{{field | uppercase}}</th>
            <th style="width:210px;">OPTIONS</th>
        </tr>
		
		<tr ng-repeat="copil in copii" data-id="{{copil.id}}">
            <td>{{ copil.name }}</td>
            <td>{{ copil.id }}</td>
            <td>{{copil.varsta}}</td>
			<td>
                <a href="">
				
            <span class="label label-success">
              Open
              <span class="glyphicon glyphicon-folder-open"></span>
            </span>
          </a>
          <a href="">
            <button ng-click="setUpdateKid(copil)" class="btn btn-info btn-xs">
              Edit
              <span class="glyphicon glyphicon-edit"></span>
            </button>
          </a>
          <a href="">
            <button ng-click="deleteCopil(copil.id)" class="btn btn-danger btn-xs">
              Remove
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </a>
        </td>
      </tr>
	  </table>

    <div class="row">
      <div class="col-md-3">
        <h2>Editeaza copil</h2>
		 
        <form>
                <div class="form-group">
                    <label for="attribute1">ID</label>
                    <input type="text" class="form-control" id="attribute1" placeholder="ID" ng-model="editKid.id">
                </div>
                <div class="form-group">
                    <label for="attribute2">NUME</label>
                    <input type="text" class="form-control" id="attribute2" placeholder="NUME" ng-model="editKid.name">
                </div>
                <button type="submit" class="btn btn-info" ng-click="updateKid()">Save</button>
            </form>
        </div>


      <div class="col-md-3 col-md-offset-6">
        <h2>Adauga copil</h2>
        <form>
                <div class="form-group">
                    <label for="attribute1">ID</label>
                    <input type="text" class="form-control" id="attribute1" placeholder="ID" ng-model="copil.id">
                </div>
                <div class="form-group">
                    <label for="attribute2">NUME</label>
                    <input type="text" class="form-control" id="attribute2" placeholder="NUME" ng-model="copil.name">
                </div>

                <button ng-click="addCopil(copil)" class="btn btn-success">Add</button>
            </form>
        </div>
	</div>

</div>

<hr/>
    <div class="row">
      <div class="col-md-12">
        <h2>Costea</h2>
      </div>
      <div class="col-md-2">
        <img src="http://rezultate.academiahagi.ro/uploads/anunturi/852.jpg" class="img-thumbnail"/>
      </div>
      <div class="col-md-10">
        <h1>Jucator</h1>
        <h3>FC OLT</h3>
        <table class="table table-bordered table-striped">
          <tr>
            <th>Echipe la care a activat</th>
            <th>Goluri inscrise</th>
          </tr>
          <tr>
            <td>FC Coteana</td>
            <td>10</td>
          </tr>
          <tr>
            <td>Scola nr.2</td>
            <td>25</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <hr/>

  <div class="container">
    <footer class="footer">
      <p class="text-muted pull-left">AWJ Base Project &copy; 2015-2016</p>
      <p class="text-muted pull-right">Ghita Alecsandru-Marius-Marian, 333AA</p>
    </footer>
  </div>

  <script src="js/jquery-1.11.3.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/app.js"></script>
</body>
</html>